
<div class="container">
<br>
    <div class="jumbotron">
        <div class="center-text">
        <h1 class="text-center" id="title">Monster Burgers & Fries!</h1>
        <p id="lead">Pioneers of the great american burger</p>
        </div>
        <div class="row" id="center">
            <div class="column">
                <img id="logo" src="/assets/img/soda.png" alt="burger1" style="width:100%">
            </div>
            <div class="column">
                <img id="logo1" src="/assets/img/burger_bg.png" alt="burger2" style="width:100%">
            </div>
            <div class="column" id="logo3">
                <img id="logo2" src="/assets/img/burger_bg3.png" alt="burger3" style="width:100%">
            </div>
        </div>

        <br>
        <panel class="center-text">
            <form class="create-form">
                <div class="form-group">
                     <h5 for="newBurger">What kind of burger would you like us to prepare for you today?</h5>
                     <input type="text" id="newBurger" name="burger" style="width:35%">
                     <br>
                     <button type="submit" class="btn btn-warning"><strong>Send Order</strong></button>
                </div>
            </form>
        </panel>
<hr>
    <div class="container">
        <div class="row">
            <!-- Burgers Made column -->
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="burgersMade"><h5><strong>Burgers Ready</strong></h5></div>
                    <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}
                            <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                            <button type="button" class="eatBurger btn btn-success" data-id="{{this.id}}"
                                data-newDevoured="{{devour}}">Devour it!</button>
                            <hr>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Burgers Eaten column -->
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="burgersMade"><h5><strong>Burgers Eaten</strong></h5></div>
                    <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                            {{#if devoured}}
                            <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                            <hr>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>